<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat 2.0</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>
  <div>
	<b>USERS</b>
	<input id="user_name"></input>
	<button id="btn1">Choose Username</button>
	<div id="users">
		<p>Users Connected</p>
	</div>
  </div>
  <div>
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
  </div>
   <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery-migrate.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/socket.io.js"></script> 
	  <script src="/static/js/new_2.js"></script>
</body>
</html>
